<h1>tanda.in</h1>
<p>
<b>tanda.in</b> is a <a href="https://www.dropbox.com">dropbox</a> backed bookmarking tool.
It will save all your bookmarks in the convinience of your own dropbox account storage.
</p>

<p>
Don't know what dropbox is? go <a href="https://db.tt/j1SBdt7">here</a>, and signup for an extra 500 MB of space for free! :)
</p>
