<p>
    <b><a href="<%= data.url %>"><%= data.url %></a></b>
</p>
<p>
    <%= data.title %>
</p>
<p class="text-muted">
    Added on: <%= data.createdAt %>
    <span class="actions pull-right">
        <a class="edit" href="javascript:void(0)">Edit</a> | <a class="delete" href="javascript:void(0)">Delete</a>
    </span>
</p>
