<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="Add or search bookmark" name="bookmark" class="bookmark input form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go</button>
            </span>
        </div>
    </div>
</div>
<hr/>
