<h1>Hi there,</h1>
<p>
I created tanda.in as an excercise to learn about <a href="http://requirejs.org">Require.js</a>, <a href="http://marionettejs.com/">Marionette.js</a>, and
<a href="https://www.dropbox.com/developers/datastore">Dropbox Datastore API</a>. If you have any questions feel free to contact me via these means :)
</p>
<ol>
    <li><a href="mailto:rbudiharso@gmail.com">rbudiharso[at]gmail[dot]com</a></li>
    <li><a href="https://twitter.com/rbudiharso">@rbudiharso</a></li>
    <li><a href="https://github.com/rbudiharso">github account</a></li>
</ol>
<p>or if you find this app interesting, <a href="https://github.com/rbudiharso/tanda.in.git">fork it!</a> :)</p>
